@import "partials/settings.scss";
@import "partials/foundation.scss";
@import "partials/variables.scss";
@import "partials/header.scss";

.active {
    font-weight: 700;
    color: red !important;
}

.img-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  color: $h1-font-color;
}

h5 {
  font-size: 27px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 35px;
}

.cat-label {
  position: relative;
  height: 40px;
  width: 80%;
  //background-color: #F66F6D;
  padding: 15px 30px;
  bottom: 70px;
  opacity: 0.8;
  h5 {
    position: relative;
    bottom: 35px;
    color: #fff;
    opacity: 1;
  }
}

footer {
  background-color: $night-rider;
}

.door-icon {
  background: url(../img/icons/menu-icon.svg) no-repeat;
  & span::after {
    content: none !important;
  }
}


.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

.footer {
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 50px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
    font-weight: 70px;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: $text-color;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}




.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fade.ng-enter,
.ng-enter .fade {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active,
.ng-enter.ng-enter-active .fade {
  opacity: 1;
}

.fade.ng-leave,
.ng-leave .fade{
  opacity: 1;
}

.fade.ng-leave.ng-leave-active,
.ng-leave.ng-leave-active .fade {
  opacity: 0;
}


// top menu
// .right-small {
//   right: 80px;
// } 

.bar {
    width: 25%;
    height: 10px;
    margin-top: 10px;
    background-color: #F6CD64;
}

.tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
  .tabs-title {
    display: inline-block;
    margin: 0 15px;
    a {
      display: block;
      text-align: center;
    }
  }
}