.active {
    font-size: 18px;
    font-weight: 700;
    color: red !important;
}

.img-wrapper {
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}