@import "partials/settings.scss";
@import "partials/foundation.scss";
@import "partials/font-awesome.scss";
@import "partials/variables.scss";
@import "partials/header.scss";

.full-width {
  max-width: 100%;
}


.img-wrapper {
    width: 100%;
    position: relative;
    display: block;
    &.cat-wrapper {
      img {
        -webkit-filter: grayscale(100%);
        -webkit-transition: .5s ease-in-out;
        -moz-filter: grayscale(100%);
        -moz-transition: .5s ease-in-out;
        -o-filter: grayscale(100%);
        -o-transition: .5s ease-in-out;
        

      }
      &:hover {
        img {
         -webkit-filter: grayscale(0%);
        -webkit-transition: .5s ease-in-out;
        -moz-filter: grayscale(0%); 
        -moz-transition: .5s ease-in-out;
        -o-filter: grayscale(0%); 
        -o-transition: .5s ease-in-out; 
        }
        .cat-label {
            background-color: transparent !important;
            transition: .5s ease-in-out;
          }
        }
    }
    .cat-label {
      position: absolute;
      height: 40px;
      width: 80%;
      bottom: 12%;
      opacity: 0.9;
      transition: .5s ease-in-out;
    }
    h5 {
      position: absolute;
      bottom: 16%;
      left: 8%;
      color: #fff;
      text-transform: uppercase;
      @media only screen and (min-width: 40.0625em) and (max-width: 64em) {
        bottom: 18%;
      }
      @media only screen and (min-width: 90.0625em) {
        bottom: 15%;
      }
    }
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  color: $h1-font-color;
}


h3 {
  font-size: 46px;
  font-weight: 700;
  @media only screen and (max-width: 40em) {
   font-size: 36px;
 }
}

h4,
h4 a {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  color:  #303030;
}

h5 {
  font-size: 27px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 35px;
}


.cat-descr {
  text-align: center;

}

.ct-dsc {
  @media only screen and (min-width: 40.0625em) {
    padding-top: 20px;
    padding-bottom: 40px;  
  }
}

.door-icon {
  background: url(../img/icons/menu-icon.svg) no-repeat;
  background-position: center;
  & span::after {
    content: none !important;
  }
}

.post-row {
  min-height: 440px;
  margin-bottom: 30px;
  h4 {
    min-height: 90px;
  }
  .excerpt {
    min-height: 60px;
  }
}

.post-wrapper {
  position: relative;
  margin-bottom: 25px;
  .cat-col {
    position: absolute;
    bottom: -20px;
    left: 15px;
  }
}

.times.exit-off-canvas {
  font-size: 50px;
  color: #F6CD64;
  position: relative;
  left: rem-calc(24);
  top: 25px;
  background: none;
  box-shadow: none;
  display: initial;
  @media only screen and (max-width: 40em) {
    left: 15px;
  }
}

@media only screen and (min-width: 40.0625em) {
  .move-left .times.exit-off-canvas:hover {
      background: none;
  }
}




// footer
.footer {
  background-color: $night-rider;
  padding: 1rem 4rem;
  color: #fff;
  .social {
    i {
      margin-top: 2.5rem;
      font-size: 50px;
      float: right;
    }
    @media only screen and (max-width: 40em) {
      text-align: center;
      i {
        float: none;
      }
    }
  }
}

.container {
  padding-bottom: 272px;
  @media only screen and (max-width: 40em) {
    padding-bottom: 320px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  h4 {
    color: #F6CD64;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
    font-weight: 70px;
    line-height: initial;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: #fff;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    min-height: 240px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}


.article {
  @media only screen and (max-width: 40em) {
    margin-bottom: 15px;
  }
}

.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fade.ng-enter,
.ng-enter .fade {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active,
.ng-enter.ng-enter-active .fade {
  opacity: 1;
}

.fade.ng-leave,
.ng-leave .fade{
  opacity: 1;
}

.fade.ng-leave.ng-leave-active,
.ng-leave.ng-leave-active .fade {
  opacity: 0;
}


.logo-bar {
    max-width: 240px;
    height: 10px;
    margin-top: 10px;
    background-color: #F6CD64;
}

#loading-bar .bar  {
  background: #F6CD64 !important;
}

.tabs {
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
    text-align: center;
  .tabs-title {
    display: inline-block;
    margin: 0 15px;
    a {
      display: block;
      text-align: center;
      font-size: 13px;
      color: #000;
      line-height: 8px;
      margin-top: 5px;
       @media only screen and (max-width: 40em) {
         display: inline-block;
         font-size: 12px;
       }
      &.active {
        color: transparent;
        background-color: #000;
        @media only screen and (max-width: 40em) {
        width: 70%;
        display: inline-block;
        margin-top: 0px;
        }
      }
    }
    @media only screen and (max-width: 40em) {
      img {
        max-width: 70%;
      }
      margin: 0;
      max-width: 80px;
      width: 20%;
    }
  }
}

.single-post-wrapper {

  @media only screen and (max-width: 40em) {
  .tabs .tabs-title {
      margin: 0;
      max-width: 80px;
      width: initial;
  }
}

  .tabs { 
    text-align: initial; 
    .tabs-title {
      &:first-child {
        margin-left: 0;
      }
      margin-left: 10px;
      a {
        @media only screen and (max-width: 40em) {
         display: block;
         font-size: 13px;
        }
      }
    }
    
    @media only screen and (max-width: 425px) {
      display: flex;
      justify-content: space-between;
      .tabs-title {
        //display: table-cell;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .row { margin-bottom: 30px; }

  .nav-btns {
    .button {
      padding: 10px;
      font-weight: 700;
      background-color: #FFDF8E;
    }
  }
  
}



.off-canvas-list {
  margin-top: 50px!important;  
}

ul.off-canvas-list li a {
  font-size: 26px;
  font-weight: 700;
  line-height: 56px;
}

@media only screen and (max-width: 40em) {
  ul.off-canvas-list li a {
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    padding: 0 0 0 15px;
  }
}

.title-wrapper {
  position: relative;
  background-color: #fff;
  bottom: 60px;
}

// Contact Us

.contact-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  .cont-icon {
    position: relative;
    min-height: 440px;
  img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}  
.arrow_box {
	position: relative;
	background: #F6CD64;
	padding: 45px 55px;
	form {
	  input {
	    @media only screen and (min-width: 40.063em) {
	      width: 55%;
	    }
	  }
	  label {
	    color: #fff;
	  }
	  button {
	    background-color: #303030;
	    color: #F6CD64;
	    text-transform: uppercase;
	  }
	}
}
.arrow_box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(246, 205, 100, 0);
	border-right-color: #F6CD64;
	border-width: 36px 72px 36px 0;
	margin-top: -36px;
	@media only screen and (max-width: 40em) {
	  content: none;
	}
}
}

.tab-bar-section {
  @media only screen and (max-width: 40em) {
    padding: 60px 20px;
  }
}