//colors
$wheat : #F9E2B4;
$dim-gray : #6A6A6A;
$white : #FFFFFF;
$night-rider : #303030;
$vis-vis : #FFDF8E;
$bittersweet : #F66F6D;
$summer-sky : #38C4FF;
$golden-sand : #F6CD64;
$gainsboro : #D8D8D8;
$jordy-blue : #739FE4;
$sunshade : #FFA041;
$medium-aquamarine : #50DF9A;
$nobel : #979797;

//fonts
$base-font : 'futura-pt' !default;


$h1-font-size: rem-calc(46) !default;
$h1-font-weight: 700;
$h1-font-color: $night-rider;

$header-font-family: "futura-pt", sans-serif !default;
