<div class="single-post-wrapper">
    <div class="row full-width">
        <img src="{{ imgPath }}/dsa-office.jpg" alt="">
    </div>
    <div class="row">
        <div class="medium-6 medium-offset-6 columns end">
            <h1>Om DSA ARK STUDIO</h1>
            <p>DSA ARK STUDIO er en selvstændig arkitekt tegnestue. Tegnestuen blev etableret i 1990 og drives i dag af Nils Jeppe Hansen, arkitekt MAA mDD. Tegnestuen er beliggende i et fredet pakhus fra 1780 i Wildergade på Christianshavn. Tegnestuen arbejder
                med et bredt spektre af opgaver i både offentligt, erhvervsmæssigt og privat regi. Siden tegnestuen blev etableret, har tegnestuen udført nybyggeri samt oparbejdet stor erfaring med restaurering, transformation og tilbygning til fredede
                bygninger. Et område som kræver indlevelse og respekt for bygningshistoriske værdier samt sans for at kombinere det eksisterende med nutidige behov, så resultatet fremstår i en harmonisk helhed.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns end">
            <h3>Sanselighed</h3>
            <p>Tegnestuen tilbyder rådgivning i udøvelse af arkitektfaget i bred forstand samt byggeledelse og tilsyn. Sideløbende beskæftiger vi os med design og produktudvikling indenfor møbel og belysning mv. Design og arkitektur handler om sanselige
                oplevelser – et begreb, der skal defineres helt ned i detaljen og det stoflige udtryk i materialet, der bygges med. Herved opnås den ærlighed i konstruktion og materiale, vi har dyrket og finder optimal i løsninger – såvel produktionsteknisk
                som økonomisk. Tegnestuen beskæftiger arkitekter og bygningskonstruktører. Vort faglige engagement er på basis af de bedste arkitektfaglige traditioner båret af en åbenhed og nysgerrighed over for udviklingen af nye arkitekturidealer.
                Tegnestuen lægger vægt på kvalitet i helhed og detalje, både hvad angår æstetik og funktionalitet.
            </p>
        </div>
    </div>
</div>