<div class="medium-12 columns">
	<a class="button" ui-sref="home">Back</a>
</div>

<div class="medium-12 columns">
	<!--<ul>-->
	<!--	<li ng-repeat="category in categories" class="tabs-title" ui-sref-active="is-active">-->
	<!--		<a ui-sref=".list({category: category.id})" aria-selected="ui-sref-active()" ng-bind-html="category.name | to_trusted"></a>-->
	<!--	</li>-->
	<!--</ul>-->
	<tabset>
		<tab  ng-repeat="category in categories" heading="{{category.name | to_trusted}}" ui-sref=".list({category: category.id})" ui-sref-active="active">
			<!--<p>{{category.description}}</p>-->
		</tab>
	</tabset>
</div>

	
	<!--<a ui-sref=".list" class="button round">List</a>-->
    
    <div ui-view></div>


</div>