<ul class="medium-block-grid-3">
    <li ng-repeat="category in categories" class="fade">
        <div class="img-wrapper">
            <img src="{{ category.category_image }}" class="fade" />
        </div>
        <div ng-bind-html="post.description | to_trusted"></div>
        <div class="cat-label" style="background-color: {{ category.category_color }}" ui-sref="category.list({category: category.id})"><h5>{{category.name}}<h5></div>
    </li>
    <li>
        <div class="img-wrapper">
            <img src="https://placehold.it/350x240">
        </div>
        <div ng-bind-html="post.description | to_trusted"></div>
    </li>
</ul>
